$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Noto Serif', serif;

$primaryColor: black;
$secondaryColor: whitesmoke;

html {
    font-size:62.5%;
    font-family:$primaryFont;
    scroll-behavior: smooth;
}


//Typography

@mixin primaryFont($size) {
    font-family: $primaryFont;
    color:$secondaryColor;
    text-transform:capitalize;
    letter-spacing:1px;
    font-size:$size;
}

body {
    @include primaryFont (1.6rem);

    input, button, a {
        @include primaryFont(1.6rem);
    }

    footer {
        @include primaryFont(1.2rem);
        letter-spacing:0;
    }

}