$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Noto Serif', serif;

$primaryColor: black;
$secondaryColor: #B32929;

html {
    font-size:62.5%;
    font-family:$primaryFont;
}

body {
    font-size:1.6rem;
    color:$secondaryColor;
}