$primaryFont: 'Montserrat', sans-serif;
$titleFont: 'Fire Sans', sans-serif;

$primaryColor: black;
$secondaryColor: #B32929;

html {
    font-size:62.5%;
}

body {
    font-size:1.6rem;
    color:$secondaryColor;
}

