#random {
    width:100%;
    max-width:100vw;
    min-height:100vh;

    .header {
        padding:15% 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        // border:1px solid red;

        h1 {
            color:$secondaryColor;
            font-size:3rem;
            letter-spacing:2px;
            text-align:left;
            font-family:$primaryFont;
            text-transform:uppercase;
            width:25%;
            // position:relative;
            // border:1px solid red;

        span {
            font-size: 3.5rem;
            display:block;
            text-align:center;
            text-transform:capitalize;
            font-family:$titleFont;
        }
    }

        img {
            width:20%;
            // position:absolute;
            // top:-15%;
            // right:25%;
        }

    .searchBar {
        display:flex;
        margin-right:2%;

        .input {
            background: $primaryColor;
            padding:5% 15%;
            border:0.5px solid darken($secondaryColor, 50);
            margin-right:2%;
            border-radius:20px 25px;

            
        }
    
        .search {
            background: $primaryColor;
            // color:$secondaryColor;
            padding:5%;
            border-radius:50%;
            border:0.5px solid darken($secondaryColor, 50);
        }
    }
    }
}

input:focus {
            border:3px solid red;
            }