.selectionSection h2 {
    text-align:center;
    margin-top:5%;
}

.cuisinesSection, .drinksSection {
    height:100vh;
    border:1px solid black;
}

.cuisinesSection {
    background:lighten($primaryColor, 10);  
}

.drinksSection {
    background:lighten($primaryColor, 15);
}

.form {
        margin-top:35vh;
        display:flex;
        flex-direction: column;
        align-items: center;

        select {
            margin:2% 0;
        }

        a {
            text-decoration:none;
            padding: 2%;
            background:$primaryColor;
        }

        // a:focus {
        //     // border:2px solid $secondaryColor;
        // }

    }

    






    // .cuisinesSection, .drinksSection {
    //     width:50%;
    //     min-height:100vh;
    //     // border:1px solid red;

    //     form {
    //         padding:5%;
    //         // align-items: center;

    //          label {
    //         display:block;
    //         }
    //     }
    // }

    // a {
    //     display:inline;
    //     // border:1px solid red;
    //     padding:0;
    //     margin:0;
    // }
// }