.selectionSection h2 {
    text-align:center;
    margin:10% 0;
}

.cuisinesSection, .drinksSection {
    height:100vh;
    border:1px solid black;

    span {
        display:block;
        margin-top:2%;
        // font-size:4rem;
    }
}

.cuisinesSection {
    background:lighten($primaryColor, 10);  
}

.drinksSection {
    background:lighten($primaryColor, 15);
}

.form {
        // margin-top:35vh;
        display:flex;
        flex-direction: column;
        align-items: center;

        select {
            margin:2% 0;
        }

        a {
            text-decoration:none;
            padding: 2%;
            background:$primaryColor;
        }

    }

    



