.resultsSection {
    background:lighten($primaryColor, 10);
    display:flex;     
}


.cuisineResults, .drinkResults {
    border:1px solid red;
    // margin: auto;
    // padding:10%;
    min-height:100vh;
    width:50%;
    
}

footer {
    background:$primaryColor;
    text-align:center;
    padding:0.5% 0;
    
    P {
        margin:0;
        padding:0;
    }
}