article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  color: #B32929; }

.headerImage {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: url(../../assets/img1.jpg);
  background-size: cover;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .headerImage h1 {
    color: #B32929;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-align: center; }
    .headerImage h1 span {
      font-size: 3rem;
      display: block;
      text-transform: uppercase; }
  .headerImage .titleIcon {
    width: 7%; }
    .headerImage .titleIcon img {
      width: 100%;
      color: #B32929; }
  .headerImage .searchBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2%; }
    .headerImage .searchBar .input {
      background: #1a1a1a;
      color: #B32929;
      padding: 5% 15%;
      border: 2px solid black;
      margin-right: 2%;
      border-radius: 20px 25px; }
    .headerImage .searchBar .search {
      background: #1a1a1a;
      color: #B32929;
      padding: 5%;
      border-radius: 50%;
      border: 2px solid black; }

.cuisinesSection, .drinksSection {
  width: 100%;
  height: 100vh;
  border: 1px solid red; }

.cuisinesSection {
  background: #1a1a1a; }

.drinksSection {
  background: #262626; }

.resultsSection {
  background: #1a1a1a; }

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.cuisineResults, .drinkResults {
  border: 1px solid red;
  min-height: 100vh;
  width: 50%; }
